
  html {
    /*用于 获取 屏幕的可视宽高*/
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body {
    /*让 body 初始 width 和 height 就 等于 页面可视区域的 宽高*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  
    /*用于 测试的 样式*/

    letter-spacing: 4px;
    font-size: 28px;
    /*文字居中*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (orientation:portrait) {
    /*竖屏样式*/
    body {
      transform-origin: 0 0;
      transform: rotateZ(90deg) translateY(-100%);
    }
  }