
li:hover{background-color: #a52a01;}
ul{ z-index: 5;}
h1{text-align: center;}
html{background-size:cover;background-color:#e1d3ae;color: white;}
body{margin-left: 10px;margin-right: 0px}/*设置页边距*/ 
a{font-size: 15px;text-align: center;color: white;}
table{margin: auto;}
