li{
   
    background-color: white;
    
    padding: 7.5px 16px;
    float:left;
    list-style:none;
    color: #518ABD;
    margin:0px;
    transition: all ;
}
li:hover{background-color: #e3e3e9;}
ul{ position:fixed;z-index: 5;}
h1{text-align: center;}
pre{
border: 1px solid #ddd;
border-radius: 5px;
padding: 10px;
font-size: 15px;
}
.bu4{
    width: 250px;height: 150px;background-color:white; border: 0;border-radius: 10px;transition: all 0.1s;
}
.bu4:hover{background-color: #e3e3e9;width: 260px;height: 160px;}
.code{


border: 1px solid #ddd;
border-radius: 5px;
padding: 10px;
font-size: 15px;
}

html{            background: linear-gradient(to bottom right,#51B4DB,#D1D868 95% );background-repeat: no-repeat;background-attachment:fixed;    color: white;}
a{font-size: 15px;text-align: center;color: white;}
table{margin: auto;}
#banquan{
    text-align: center;
    font-size: 15px;
}
#bigside{position:absolute;width: 300px;height: 350px;font-size:20px;background-color: white;padding-left: 10px;padding-right:-10px ;color:#005393;border-radius:0 10px 10px 0;left:-280px;top:100px;transition:all 1s;;}
#bigside:hover{left:0px}
.docbu{width: 400px;height: 500px;background-color:white; border: 0;border-radius: 10px;margin: 20px; transition: all 0.1s;}
.docbu:hover{background-color: #e3e3e9;width:415px;height:515px;}
.lba{text-align: center;font-size: 22px;color: #518ABD;}
.namebutton{float: right;background-color: white;margin-right: 118px;margin-top: 8px;border-style:none; padding: 8.9px 20px;font-size: 15px;border-radius: 5px;color: #518ABD;}
.dock{color: #518ABD;text-align: right}
#headtitle{font-size: 60px;}
.docsmall{color: #518ABD;font-size:23px;text-align: center;}
.docbig{text-align:center;color: #518ABD;font-size: 25px;}
.redbutton{width: 90%;height: 20px;background-color:#BB4444;; border: 0;border-radius: 10px;overflow: hidden;transition: all 1s;}
.redbutton:hover{height:150px;}

.linkbutton2{
    background-color: white;
    width:100%;
    height: 115px;
    border-radius: 10px;   
     margin: 5px;
     padding: 20px;
     transition: all 0.1s;
     border: 0;
     text-align: left;
     font-size:40px;
    
}

.linkbutton2:hover{background-color: #e3e3e9;width:100%+5px;height:120px;}


@media (min-width: 0px) and (max-width:768px) {
.bu4{margin-bottom: 5px;}
    .linkbutton{
        background-color: white;
        width:100%;
        height: 115px;
        border-radius: 10px;   
         margin: 5px;
         padding: 20px;
         transition: all 0.1s;
         border: 0;
         text-align: left;
         font-size:40px;
        
    }
    .lbh1{color:#518ABD;font-size: 10px;text-align: left;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    
    .linkbutton:hover{background-color: #e3e3e9;width:100%+5px;height:120px;}
}
@media (min-width: 768px) {
    .linkbutton:hover{background-color: #e3e3e9;width:305px;height:105px;}
    body{margin-left: 40px;margin-right: 40px}/*设置页边距*/ 
    .linkbutton{
        width: 300px;
        height: 100px;
        background-color:white;
         border: 0;
         border-radius: 10px;
         margin: 3px;
         transition: all 0.1s;
    }
    .lbh1{color:#518ABD;font-size: 10px;text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

}